version: 2.1

jobs:
  say-hello:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World! This is predefined config yaml!!!"

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
